<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mijiu.mapper.FunctionSystemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mijiu.entity.FunctionSystem">
        <id column="id" property="id" />
        <result column="merchant_id" property="merchantId" />
        <result column="f1id" property="f1id" />
        <result column="f2id" property="f2id" />
        <result column="f3id" property="f3id" />
    </resultMap>

</mapper>
